<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #fff">
        <li class="breadcrumb-item"><a href="#">数据可视化</a></li>
        <li class="breadcrumb-item active" aria-current="page">D3.js 图表示例</li>
    </ol>
</nav>

<div>
    <div class="row">
        <div class="col-xs-3">
            <div class="card">
                <img class="card-img-top" src="images/line.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                <img class="card-img-top" src="images/pie.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

