<style>
    .axis path,
    .axis line{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    .axis text{
        font-size: 10px;
        /*stroke: #333;*/
        font-weight: 100;
        font-family: "微软雅黑";
        /*transform:rotate(90deg);*/
    }
    #tooltip{
        color: #000;
        font-size: 12px;
    }
    .label{
        font-size: 12px;
    }
    .bar{
        cursor: pointer;
    }

    #horizontal-line{
        stroke : #999999;
        stroke-width: 1;
        stroke-dasharray:  5;
    }
    .axis-label{
        font-size: 12px;
    }
</style>
<h4>页面功能</h4>
<p>
    X轴为时间轴，显示每个月份的信息，Y轴为数量轴，显示某个月对应的销量信息。通过鼠标左右拖拽来改变时间的范围。
</p>
<div id="timeline">

</div>